*{
    font-family: sans-serif;
}

#HomeInfo,
#reviewBanner{
    box-shadow:  inset 300px -150px 2000px rgb(16 16 16);
}

#ComfortCar,
#BusinessCar,
#PremiumCar{
    box-shadow:  inset 50px 75px 100px rgb(23 23 23);
}

#title{
    background: linear-gradient(45deg, rgb(212, 160, 47) 33%, rgb(136, 99, 20) 66%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}